/* .container{
    position: relative;
    width: 70%;
}
img{
    width: 600px;
    height: 400px;
}
.overlay{
    position:absolute;
    width: 600px;
    height: 400px;
    top: 0%;
     transition: .5s ease;
    background-color: #008CBA;
    visibility: hidden;
}
.container:hover .text{
   visibility:visible;
}
.text{
    color: white;
    font-size: 20px;
    top: 50%;
    left: 40%;
    position: absolute;
} */
 .tooltip{
    position: relative;
 }
 .tooltip .tooltiptext{
    position: absolute;
    visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
    left: 150px;
    padding: 4px 2px;
 }

 .tooltip:hover .tooltiptext{
    visibility: visible;
 }


  .lastbutton{
    position: relative;
 }
 .lastbutton .tooltiptext{
    position: absolute;
    visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
    left: 150px;
    padding: 4px 2px;
 }

 .lastbutton:hover .tooltiptext{
    visibility: visible;
 }